*{
 background-repeat: no-repeat;
}

header{
  height: 60px;
  width:100%;
  background-color: teal;
}

.header-manu{
 display:flex;
 justify-content: space-between;
 padding: 0 10%;
}

.header-log{
  width: 115px;
  height: 35px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 5px;
  margin: 5px;
}

.header-list{
  list-style: none;
  display: flex;
  align-items: center;
}

li{
  padding-left: 60px;
}

.header-image{
  height: 650px;
  width: 100%;
  object-fit: cover;
  margin: 8px 0;
}

.main-log{
  font-size: 30px;
  text-align: center;
  border-bottom:1px solid  black;
  margin: 10px
  ;
}

.main-image{
  padding: 20px;
  height: 120px;
  width: 120px;
  
}